@import '../../scss/variables.scss';

span {
    font-style: italic;
    color: $col5;
}
.buttonBlock:hover{
    cursor: pointer;
}

.done{
    text-decoration: line-through;
}

.important{
    font-weight: bold;
    color: $col1;
    font-style: normal;
}
.fa-trash-o{
    color: $col3;
}
.buttonBlock >.btn:hover > .fa-trash-o{
    color: $col2;
}
.fa-flag{
    color: $col4;
}
.buttonBlock >.btn:hover > .fa-flag{
    color: $col2;
}
.fa-check-square-o{
    color: $col5;
}
.buttonBlock>.btn:hover > .fa-check-square-o{
    color: $col2;
}