span {
    font-style: italic;
    color: green;
}
.buttonBlock:hover{
    cursor: pointer;
}

.done{
    text-decoration: line-through;
}

.important{
    font-weight: bold;
    color: tomato;
    font-style: normal;
}
.fa-trash-o{
    color: #6c757d;
}
.buttonBlock>.btn:hover > .fa-trash-o{
    color:#fff;
}
.fa-flag{
    color:red;
}
.buttonBlock>.btn:hover > .fa-flag{
    color:#fff;
}
.fa-check-square-o{
    color: green;
}
.buttonBlock>.btn:hover > .fa-check-square-o{
    color:#fff;
}