header {
    background: blueviolet;
    position: relative;
    height: 100%;
}
header a {
    color: #fff;
    text-decoration: none;
}
header a:hover {
    color: yellow;
    text-decoration: none;
}
.logout {
    position: absolute;
    right: 10px;
}

