@import '../../scss/variables.scss';

header {
    background: $col6;
    position: relative;
    height: 100%;    
    font-family: Roboto;

    a {
        color: $col2;
        text-decoration: none;

        &:hover {
            color: $col7;
            text-decoration: none;
        }
    }
}

.logout {
    position: absolute;
    right: 10px;
}