@import '../../scss/variables.scss';

header {
    background: $col6;
    position: relative;
    height: 100%;    
    font-family: Roboto;
    padding: 1rem;

    a {
        color: $col2;
        text-decoration: none;

        &:hover {
            color: $col2;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

.logout {
    position: absolute;
    right: 10px;
}

.active {
    text-decoration: underline;
  }