@import '../../scss/variables.scss';

footer {
    background: $col6;
    color: $col2;
    display: flex;
    justify-content: center;
    padding: 1rem;    
    font-family: Roboto;

    p {
        margin-bottom: 0;
    }
}
