@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap&subset=cyrillic');

html{
    font-size: 16px;
}
.title {
    color: $col1;
}
.top-panel {
    margin-bottom: 10px;
}
nav {
    & > ul{
        & > li {
            display: inline;
    padding-right: 10px;
        }
    }     
}
main {
    height: calc(100vh - 112px);
    background-color: $col8;
    font-family: Roboto;
    overflow-y: scroll;
}