@import '../../scss/variables.scss';

.about_page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.about_page_content{
    display: flex; 
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
}